@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
  background-image: url("https://media4.giphy.com/media/ugEWbEMH0gm2c/giphy.gif?cid=ecf05e47w8j8wwamulia8u14ggv0jwafarw8qvvucwus6fyo&rid=giphy.gif");
  background-size: 3%;
  background-repeat: repeat;
  font-size: 1.5rem;
}

#insta{
  position: absolute;
  z-index:0;
  top: 20%;
  left: 15%;
  width:400px;
  height:500px;
  object-fit: fill;
}

marquee{
  font-family: 'Old Standard TT', serif;
  pointer-events: none;
  font-size:5;
}

/*솔비*/

.slide-right {
  width: 80%;
  overflow: hidden;
  position: absolute;
  top:74%;
  z-index: 1;
}

.slide-right p {
  animation: 4s slide-right 1s forwards;
    transform:translateX(-100%);
    animation-iteration-count: infinite;
    color: rgb(0,255,0);
    padding-left: 100px;
    padding-right: 20px;
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

#sol {
  position: absolute;
  top:18%;
  right:8%;
}

#sol p {
  text-align: center;
  color: red;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

#sol img {
  width: 300px;
  height: 150px;
  object-fit: fill;
  display: block;
 margin-left: auto;
 margin-right: auto;
 animation-name: fadeIn;
 animation-duration: 4s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-delay: 1s;
}

@keyframes fadeIn {
	0% {
		opacity : 0;
	}
	100% {
		opacity : 1;
	}
}


@media ( max-width: 768px ) {

body {
  font-size: 0.8rem;
  width: 100%;
  background-size: 10%;
  overflow: hidden;
}

#insta {
  left: 10%;
  width: 80%;
  height: 80%;
  top:32%;
}

#insta iframe{
  width: 100%;
}

marquee{
  font-size: 0.5rem;
}

#sol {
  top:3%;
  width: 80%;
  left: 10%;
}


}
